<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <!--加载顺序不能错-->
    <!--jQ-->
    <script src="~/Lib/jquery-1.9.1.js"></script>
    <!--BootStrap-->
    <link href="~/Lib/bootstrap-3.3.2-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Lib/bootstrap-3.3.2-dist/js/bootstrap.js"></script>

    <!--侧栏菜单-->
    <script src="~/Lib/menu.js"></script>

    <!--AdminLTE-->
    <link href="~/Lib/AdminLTE-master/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Lib/AdminLTE-master/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <script src="~/Lib/AdminLTE-master/dist/js/app.js"></script>
    <script src="~/Lib/AdminLTE-master/plugins/slimScroll/jquery.slimscroll.js"></script>
    <!--Font Awesome-->
    <link href="~/Lib/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
    <!--glyphicons 的简写版 gi-->
    <link href="~/Lib/glyphicons.css" rel="stylesheet" />
    <!--日期时间控件-->
    <link href="~/Lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!--数字控件-->
    <script src="~/Lib/wigets/numericInput.min.js"></script>
    <!--表单验证-->
    <script src="~/Lib/bootstrap-validator/dist/validator.js"></script>
    <!--表单Ajax提交-->
    <script src="../Lib/wigets/jquery.form.js"></script>
    <!--模式对话框-->
    <link href="~/Lib/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" rel="stylesheet" />
    <script src="~/Lib/bootstrap3-dialog/dist/js/bootstrap-dialog.js"></script>

    <!--本页面自定义的一些东西-->
    <link href="~/Lib/master.css" rel="stylesheet" />
    <script src="~/Lib/master.js"></script>

    <!---兼容IE8--->
    <script src="~/Lib/html5shiv.js"></script>
    <script src="~/Lib/respond.js"></script>

    <title>广邮院--任务管理系统</title>
    @RenderSection("head", false)

</head>

<body class="skin-purple-light fixed">

    <div class="wrapper">

        <header class="main-header">
            <a href="#" class="logo hidden-xs" style="background-color:#fff">
                <img src="~/asset/img/logo.png" width="200" height="50" style="margin-left:-10px;margin-top:-5px;" />
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top nav-title" role="navigation" style="margin-top:0px;">

                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <span class="" style="position:absolute;top:10px;left:0px;font-size:20px;color:#fff;width:100%;z-index:-1;">
                    <center>
                        任务管理系统
                    </center>
                </span>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">


                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!--<img src="images/gupt_logo.png" class="user-image" alt="User Image" />-->
                                <span class="gi gi-user"></span>
                                <span class="hidden-xs"><asp:Literal ID="lit_uname1" runat="server" /></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <!--<img src="images/gupt_logo.png" class="img-circle" alt="User Image" />-->
                                    <span class="gi gi-user" style="font-size:100px;color:#fff"></span>
                                    <p>
                                        <asp:Literal ID="lit_uname2" runat="server" />
                                        <small><asp:Literal ID="lit_udescr" runat="server" /></small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="col-xs-12 text-center">
                                        <a href="#" id="uname">@Session["username"]</a>
                                        <a href="#">@Session["dept"]</a><br />
                                    </div>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Login/UserCenter" class="btn btn-default btn-flat">个人中心</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/" class="btn btn-default btn-flat">注销</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account End -->

                    </ul><!-- Nav Bar End -->
                </div>
            </nav>
        </header><!-- Header End -->
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar" style="padding-top:50px !important;">
            <!-- sidebar: style can be found in sidebar.less -->
            <div class="sidebar">

                <div class="sidebar">
                    @*<div class="nav-title1">
                        <a class="a-nav"><i class="fa fa-star"></i><span>&nbsp;常用功能</span></a>
                    </div>*@
                    <ul class="nav-stacked" id="menu-newTask1">
                        @*
                        <li><a href="ClientAAdd">发起任务</a></li>
                        <li><a href="ClientAList">任务列表</a></li>
                            *@
                    </ul>
                    @RenderSection("ul", false)
                    @*<ul class="nav-stacked" id="menu-newTask2">
                        <li><a href="ClientBAdd">发起任务</a></li>
                        <li><a href="ClientBList">任务列表</a></li>
                        <li><a href="ClientBCheck">审核任务</a></li>
                        <li><a href="ClientBAccept">验收任务</a></li>
                    </ul>
                    <ul class="nav-stacked" id="menu-newTask3">
                        <li><a href="List">任务列表</a></li>
                    </ul>
                    <ul class="nav-stacked" id="menu-newTask4">
                        <li><a href="Distribute">分配任务</a></li>
                        <li><a href="List" class="a1">任务列表</a></li>
                    </ul>

                    <ul class="nav-stacked" id="menu-newTask5">
                        <li><a href="#" onclick="history.go(-1)">返回任务列表</a></li>
                        <li><a>任务历史记录</a></li>
                    </ul>*@
                </div>

            </div>
        </aside><!-- sidebar End -->
        <!-- =============================================== -->
        <!-- Right side column. Contains the navbar and content of the page -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <div class="alert bg-gray" role="alert" style="display:none;" runat="server" id="alert_box">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span id="msg_text" runat="server">您的密码为初始密码，请尽快修改</span>
                </div>

                @RenderBody()

            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1
            </div>
            <strong>Copyright © 2016 <a href="#">K's Studio</a>.</strong> All rights reserved.
        </footer>
    </div><!-- ./wrapper -->

</body>
</html>
<script type="text/javascript">

    @*var roid = '@Session["roleid"]';
    var taskul = $('#menu-newTask5').html();
	$(function  () {
	    // body...
	    alert
	    if (roid == 1) {

	        $('#menu-newTask2').remove();
	        $('#menu-newTask3').remove();
	        $('#menu-newTask4').remove();
	        $('#menu-newTask5').remove();
	    } else if (roid == 2) {
	        $('#menu-newTask1').remove();
	        $('#menu-newTask3').remove();
	        $('#menu-newTask4').remove();
	        $('#menu-newTask5').remove();
	    } else if (roid == 3) {
	        $('#menu-newTask1').remove();
	        $('#menu-newTask2').remove();
	        $('#menu-newTask4').remove();
	        $('#menu-newTask5').remove();
	    } else if (roid == 4) {
	        $('#menu-newTask1').remove();
	        $('#menu-newTask2').remove();
	        $('#menu-newTask3').remove();
	        $('#menu-newTask5').remove();
	    } else {
	        $('#menu-newTask1').remove();
	        $('#menu-newTask2').remove();
	        $('#menu-newTask3').remove();
	        $('#menu-newTask4').remove();
	        roid = '@Session["roleid"]';
	    }
	})*@
</script>