@{
    ViewBag.Title = "List";
    Layout = "~/Views/MasterPage.cshtml";
    @model List<com.gdce_task.Model.T_Task_History>
}

<div id="list_panel" class="panel panel-default">
    <div class="panel-heading bg-purple">

        <div style="position:absolute;top:3px;width:100%;">
            <!--搜索框-->
            <center>
                <div class="input-group" style="width:50%;">
                    <input name="search" id="search" type="text" class="form-control" placeholder="查找..."
                           value="@Request.QueryString["s"]">
                    <span class="input-group-btn">
                        <button class="btn btn-default bg-gray" type="button" onclick="doSearch()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </center>
        </div><!--/搜索框-->

        <a href="Edit" style="color:#fff;" class="pull-left"><i class="fa fa-plus">&nbsp;</i></a> 任务历史表

        <a data-toggle="collapse" data-parent="#list_panel" href="#collapse_grid" class="pull-right">
            <i class="fa fa-navicon" style="color:#fff;"></i>
        </a>
    </div>

    <div id="collapse_grid" class="table-responsive panel-collapse">

        <div>
            <table class="table table-striped table-condensed table-responsive table-bordered" cellspacing="0" border="1" id="Content_Body_GridView1" style="border-collapse:collapse;">
                <tr class="active">
                    <th>id</th>
                    <th>任务编号</th>
                    <th>角色名字</th>
                    <th>内容</th>
                    <th>描述</th>
                    <th>创建时间</th>
                    <th style="width:150px;">操作</th>
                </tr>

                @foreach (var item in Model)
                {

                    <tr>

                        <td class="td-text">
                            @item.id
                        </td>

                        <td class="td-text">
                            @(item.taskIdEntity != null ? item.taskIdEntity.title : "")
                        </td>

                        <td class="td-text">
                            @item.userName
                        </td>

                        <td class="td-text">
                            @item.content
                        </td>

                        <td class="td-text">
                            @item.descr
                        </td>

                        <td class="td-text">
                            @item.createTime
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-primary" href="Show?id=@item.id">查看</a>
                                <a class="btn btn-warning" href="Edit?id=@item.id">编辑</a>
                                <a class="btn btn-danger" href="#" onclick="delConfirm(@item.id)">删除</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>

@RenderPage("~/Views/Paging.cshtml")




